<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Insert title here</title>
	<div th:replace="~{/common/user/head}"></div>
</head>

<body class="" ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<div class="pos_page">
		<div class="container">
			<!--pos page inner-->
			<div class="pos_page_inner">

				<div th:replace="~{/common/user/header}"></div>

				<!--breadcrumbs area start-->
				<div class="breadcrumbs_area">
					<div class="row">
						<div class="col-12">
							<div class="breadcrumb_content">
								<ul>
									<li><a href="index.html">home</a></li>
									<li><i class="fa fa-angle-right"></i></li>
									<li>Chi Tiết sản phẩm</li>
								</ul>

							</div>
						</div>
					</div>
				</div>
				<!--breadcrumbs area end-->

				<!--product wrapper start-->
				<div class="product_details">
					<div class="row">
						<div class="col-lg-5 col-md-6">
							<div class="product_tab fix">

								<!-- ảnh đầu 3 ảnh bđ -->
								<div class="product_tab_button">
									<ul class="nav" role="tablist">
										<li><a class="active" data-toggle="tab" href="#p_tab1" role="tab"
												aria-controls="p_tab1" aria-selected="false"><img
													th:src="@{|/assets/images/${item.image1}|}" alt=""></a></li>
										<li><a data-toggle="tab" href="#p_tab2" role="tab" aria-controls="p_tab2"
												aria-selected="false"><img th:src="@{|/assets/images/${item.image2}|}"
													alt=""></a></li>
										<li><a data-toggle="tab" href="#p_tab3" role="tab" aria-controls="p_tab3"
												aria-selected="false"><img th:src="@{|/assets/images/${item.image3}|}"
													alt=""></a></li>
									</ul>
								</div>
								<!-- ảnh đầu 3 ảnh kt -->

								<!-- bđ ảnh chính -->
								<div class="tab-content produc_tab_c">
									<div class="tab-pane fade show active" id="p_tab1" role="tabpanel">
										<div class="modal_img">
											<a href="#"><img th:src="@{|/assets/images/${item.image1}|}" alt=""></a>
											<div class="img_icone">
												<img src="/user/assets/img/cart/span-new.png" alt="">
											</div>
											<div class="view_img">
												<a class="large_view" th:href="@{|/assets/images/${item.image1}|}"><i
														class="fa fa-search-plus"></i></a>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="p_tab2" role="tabpanel">
										<div class="modal_img">
											<a href="#"><img th:src="@{|/assets/images/${item.image2}|}" alt=""></a>
											<div class="img_icone">
												<img src="/user/assets/img/cart/span-new.png" alt="">
											</div>
											<div class="view_img">
												<a class="large_view" th:href="@{|/assets/images/${item.image2}|}"><i
														class="fa fa-search-plus"></i></a>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="p_tab3" role="tabpanel">
										<div class="modal_img">
											<a href="#"><img th:src="@{|/assets/images/${item.image3}|}" alt=""></a>
											<div class="img_icone">
												<img src="/user/assets/img/cart/span-new.png" alt="">
											</div>
											<div class="view_img">
												<a class="large_view" th:href="@{|/assets/images/${item.image3}|}"><i
														class="fa fa-search-plus"></i></a>
											</div>
										</div>
									</div>
								</div>
								<!-- kt ảnh chính  -->

							</div>
						</div>
						<div class="col-lg-7 col-md-6">
							<div class="product_d_right">
								<h1 th:text="${item.prodName}"></h1>
								<div class="product_ratting mb-10">
									<ul>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"><i class="fa fa-star"></i></a></li>
										<li><a href="#"> Write a review </a></li>
									</ul>
								</div>
								<div class="product_desc">
									<!-- Mô tả sản phẩm -->
									<p th:text="${item.describe}"></p>
								</div>

								<div class="content_price mb-15">
									<span th:text="'Price: ' + ${item.price} + 'đ'"></span>
								</div>



								<div class="box_quantity mb-20">
									<button th:attr="ng-click=@{|cart.add('${item.proId}')|}">
										<i class="fa fa-shopping-cart"></i> Thêm sản phẩm
									</button>
									<a href="#" title="add to wishlist"><i class="fa fa-heart"
											aria-hidden="true"></i></a>
								</div>


								<!-- Hiển thị số lượng sản phẩm -->

								<div class="product_stock mb-20">
									<p th:text="'Available: ' + ${item.quantity} + ' items'"></p>
								</div>
								<div class="content_price mb-15">
									<span
										th:text="'Create Date: ' + ${#dates.format(item.createDate, 'dd-MM-yyyy')}"></span>
								</div>

								<div class="wishlist-share">
									<h4>Share on:</h4>
									<ul>
										<li><a href="#"><i class="fa fa-rss"></i></a></li>
										<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
										<li><a href="#"><i class="fa fa-tumblr"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!--product details end-->


				<!--product info start-->
				<div class="product_d_info">
					<div class="row">
						<div class="col-12">
							<div class="product_d_inner">
								<div class="product_info_button">
									<ul class="nav" role="tablist">
										<li><a class="active" data-toggle="tab" href="#info" role="tab"
												aria-controls="info" aria-selected="false">Thêm
												Thông tin info</a></li>
										<li><a data-toggle="tab" href="#sheet" role="tab" aria-controls="sheet"
												aria-selected="false">Bảng dữ liệu</a></li>

									</ul>
								</div>
								<div class="tab-content">
									<div class="tab-pane fade show active" id="info" role="tabpanel">
										<div class="product_info_content">
											<p th:text="${item.describe}"></p>
										</div>
									</div>

									<div class="tab-pane fade" id="sheet" role="tabpanel">
										<div class="product_d_table">
											<form action="#">
												<table>
													<tbody>
														<tr>
															<td class="first_child">Sáng tác</td>
															<td>Polyester</td>
														</tr>
														<tr>
															<td class="first_child">Kiểu dáng</td>
															<td>Nam</td>
														</tr>

													</tbody>
												</table>
											</form>
										</div>
										<div class="product_info_content">
											<p>Thời trang đã tạo ra các bộ sưu tập được thiết kế đẹp
												mắt kể từ năm 2010. Thương hiệu này cung cấp các thiết kế nữ
												tính với những chiếc váy tách biệt và nổi bật đầy phong
												cách, từ đó đã phát triển thành một bộ sưu tập quần áo may
												sẵn đầy đủ, trong đó mỗi món đồ đều là một phần quan trọng
												trong tủ quần áo của phụ nữ. Kết quả? Vẻ ngoài mát mẻ, dễ
												dàng, sang trọng với sự thanh lịch trẻ trung và phong cách
												đặc trưng không thể nhầm lẫn. Tất cả những món đồ đẹp đẽ đều
												được sản xuất tại Ý và được sản xuất với sự chú ý lớn nhất.
												Giờ đây, Thời trang mở rộng sang nhiều loại phụ kiện bao gồm
												giày, mũ, thắt lưng và nhiều thứ khác!</p>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<!--product info end-->


				<!--new product area start-->
				<div class="new_product_area product_page">
					<div class="row">
						<div class="col-12">
							<div class="block_title">
								<h3>DANH MỤC SẢN PHẨM KHÁC:</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="single_p_active owl-carousel">
							<div th:each="p:${item.category.products}" class="col-lg-3">
								<div class="single_product">
									<div class="product_thumb">
										<a th:href="@{|/product/detail/${p.proId}|}">
											<img th:src="@{|/assets/images/${p.image1}|}" alt=""
												style="width: 300px; height: 200px;">
										</a>

										<div class="product_action">
											<a th:attr="ng-click=@{|cart.add('${p.proId}')|}" href="#">
												<i class="fa fa-shopping-cart"></i> Thêm sản phẩm
											</a>
										</div>
									</div>
									<div class="product_content">
										<span class="product_price" th:text="${p.price}"></span>
										<h3 class="product_title">
											<a th:href="@{|/product/detail/${p.proId}|}" th:utext="${p.prodName}"></a>
										</h3>
									</div>

									<div class="product_info">
										<ul>
											<li><a href="#" data-toggle="modal" th:attr="ng-click=@{|openModal('${p.proId}')|}"
													data-target="#modal_box" title="Quick view">Show sản phẩm</a></li>
										</ul>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>
				<!--new product area start-->



				<!-- modal area start -->

				<div class="modal fade" id="modal_box" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<div class="modal_body" ng-init="modalPro ">
								<div class="container">
									<div class="row">
										<div class="col-lg-5 col-md-5 col-sm-12">
											<div class="modal_tab">
												<div class="tab-content" id="pills-tabContent">
													<div class="tab-pane fade show active" id="tab1" role="tabpanel">

														<!-- Thực hiện các thao tác với modalPro tại đây -->
														<div class="modal_tab_img">
															<a ng-href="/product/detail/{{modalPro.id}}">
																<img ng-src="{{modalPro.image}}">
															</a>
														</div>

													</div>

												</div>

											</div>
										</div>
										<div class="col-lg-7 col-md-7 col-sm-12">

											<div class="modal_right">
												<div class="modal_title mb-10">
													<h2>{{modalPro.prodName}}</h2>
												</div>
												<div class="modal_price mb-10">
													<span class="new_price">Price: {{modalPro.price}}</span>
												</div>
												<div class="modal_content mb-10">
													<span>Create Date: {{modalPro.createDate}}</span>
												</div>
												<div class="modal_content mb-10">
													<p>Describe: {{modalPro.describe}}
													</p>

												</div>

												<div class="modal_add_to_cart mb-15">
													<form action="#">

														<button ng-click="cart.add(modalPro.proId)" type="submit">add to
															cart</button>
													</form>
												</div>

												<div class="modal_social">
													<h2>Share this product</h2>
													<ul>
														<li><a href="#"><i class="fa fa-facebook"></i></a></li>
														<li><a href="#"><i class="fa fa-twitter"></i></a></li>
														<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
														<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
														<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
													</ul>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- modal area end -->

			</div>
		</div>
		<div th:replace="~{/common/user/js}"></div>
		<div th:replace="~{/common/user/footer}"></div>



</body>

</html>